@import "/css/header.css";
@import "/css/introducao.css";
@import "/css/expositor.css";
@import "/css/diferencial.css";
@import "/css/parceiros.css";
@import "/css/depoimento.css";
@import "/css/seguros.css";
@import "/css/footer.css";


:root {
    --c12: #000000;
    --c11: #111111;
    --c10: #2E2E2E;
    --c9: #404040;
    --c8: #595959;
    --c7: #717171;
    --c6: #9C9C9C;
    --c5: #B2B2B2;
    --c4: #CCCCCC;
    --c3: #DEDEDE;
    --c2: #EDEDED;
    --c1: #F7F7F7;
    --w: #FFFFFF;

    --p5: #332200;
    --p4: #664400;
    --p3: #A66F00;
    --p2: #E4A30B;
    --p1: #FFBB00;

    --font-1: 'Poppins', sans-serif;
    --font-2: 'Roboto', sans-serif;
}

* {
    font-family: var(--font-1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
}

.flex {
    display: flex;
    align-items: center;
}


.center {
    align-items: center;
    justify-items: center;
}

.btn-1 {
    color: var(--p5);
    background: linear-gradient(#FFBF00, #F2A50C );
    box-shadow: 0px 1px 2px 0px #0000001a;
    border-radius: 4px;
    display: inline-block;
    padding: 16px 32px;
    
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-1:hover{
    background: linear-gradient(#FFB60d, #e59317 );

}

.btn-2 {
    display: inline-block;
    color: var(--p1);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 4px solid var(--p1);
    margin: 1rem 0;
}

.btn-3 {
    display: inline-block;
    color: var(--c4);
    background-color: var(--c10);
    padding: .6rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}


.font-1 {
    font-family: 'Poppins', sans-serif;
}

.font-2 {
    font-family: 'Roboto', sans-serif;
}

.p-1 {
    color: var(--c5);
    font-size: 24px;
    font-weight: 400;
}

.p-2 {
    color: var(--c8);
    font-weight: 400;
}

.p-4 {
    color: var(--p4);
    font-size: 24px;
}


.t-1 {
    color: var(--w);
    font-size: 64px;
    max-width: 40ch;
}

.t-2 {
    color: var(--c12);
    font-size: 2rem;
    margin-left: 9.25rem;
    margin-bottom: 1.5rem;
}

strong {
    color: var(--p1);
}