:root{
    --c12: #000000;
    --c11: #111111;
    --c10: #2E2E2E;
    --c9:  #404040;
    --c8:  #595959;
    --c7:  #717171;
    --c6:  #9C9C9C;
    --c5:  #B2B2B2;
    --c4:  #CCCCCC;
    --c3:  #DEDEDE;
    --c2:  #EDEDED;
    --c1:  #F7F7F7;
    --w :  #FFFFFF; 

    --p5: #332200;
    --p4: #664400;
    --p3: #A66F00;
    --p2: #E4A30B;
    --p1: #FFBB00;
    
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Roboto', sans-serif;
}

.introducao-bg{
    color: var(--w);
    background-color: var(--c12);
    box-shadow: inset 0px -120px 1px #fff;
}

.introducao-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    margin: 0 auto;
    gap: 0 40px;
}



.introducao-texto h1{
    margin-bottom: 32px;
    line-height: 1.125;
}

.introducao-texto p{
    max-width: 50ch;
}

.introducao-descricao{
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.5;
}


.introducao-img{
    max-width: 100%;
    height: 800px;
    object-fit: cover;
}

@media (max-width:800px){
    .introducao-conteudo{
        grid-template-columns: 1fr;
    }

    .introducao-texto .t-1{
        font-size: 30px;
        margin-bottom: 12px;
    }

    .introducao-texto .p-1{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .introducao-texto .btn-1{
        margin-bottom: 0px;
    }

    .introducao-texto{
        padding-bottom: 20px ;
    }
}