:root{
    --c12: #000000;
    --c11: #111111;
    --c10: #2E2E2E;
    --c9:  #404040;
    --c8:  #595959;
    --c7:  #717171;
    --c6:  #9C9C9C;
    --c5:  #B2B2B2;
    --c4:  #CCCCCC;
    --c3:  #DEDEDE;
    --c2:  #EDEDED;
    --c1:  #F7F7F7;
    --w :  #FFFFFF; 

    --p5: #332200;
    --p4: #664400;
    --p3: #A66F00;
    --p2: #E4A30B;
    --p1: #FFBB00;
    
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Roboto', sans-serif;
}

.introducao-container{
    color: var(--w);
    background-color: var(--c12);
}

.introducao-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    /* padding: 5rem 0; */
    margin: 0 auto;
    gap: 4rem;
    position: relative;
}


.introducao-descricao{
    font-size: 1.5rem;
    max-width: 40ch;
    margin-bottom: 1.25rem;
}

.introducao-img{
    height: 800px;
    width: auto;
    object-fit: cover;
    object-position: right;
    position: relative;
    top: 80px;
}