.bicicleta-detalhes-bg{
    background-color: var(--cor-11);
    /* padding-top: 60px; */
    padding-bottom: 60px;
}

.bicicleta-detalhes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

}

.bicicleta-imagens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
/* 
.bicicleta-conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
} */

.imagem-destaque{
    grid-column: 1 / -1;
}

.bicicleta-conteudo p{
    margin-bottom: 32px;
}

.bicicleta-conteudo span{
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    background-color: var(--cor-12);
    border-radius: 5px;
}

.bicicleta-conteudo span:first-child{
    margin-bottom: 12px;
}


.bicicleta-comprar{
    display: flex;
    align-items: center;
    gap: 12px;
}