.expositor{
    padding: 120px 0;
}
.expositor h2{
    margin-bottom: 40px;

}

.expositor ul{
    display: flex;
    gap: 40px;
    margin: 0px auto;
    max-width: 1400px;
    padding: 0 20px;
    overflow-x: scroll;
}

.expositor li{
    min-width: 280px;
}

.expositor img{
    flex: 1;
    margin-bottom: 16px;
}

.expositor h3{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.expositor h3::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-right: 8px;
    transition: width .2s;
}

.expositor a:hover h3::before{
    width: 24px;
}

.expositor li span{
    margin-left: 20px;
}

@media (max-width:800px){
    .expositor{
        padding: 60px 0;
    }

    .expositor ul{
        gap: 20px;
        padding-bottom: 20px;
    }
}