.expositor {
    margin: 0 auto;
    padding: 120px 0
}

.expositor h2{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.expositor-produto {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
    margin: 0 auto;
}

.expositor-item {
    min-width: 330px;
    flex: 1;
}
.expositor-item img {
    height: 100%;
    
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
}



.item-titulo{
    position: relative;
    margin-bottom: 8px;

}

.item-descricao{
    display: grid;
    grid-template-columns: .2fr 4fr;
    align-items: start;
}

.item-detalhe {
    display: block;
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
    margin-top: 15px;
}

