.font-1 {
    font-family: 'Poppins', sans-serif;
}

.font-2 {
    font-family: 'Roboto', sans-serif;
}


.btn-1 {
    color: var(--cor-p5);
    background: linear-gradient(#FFBF00, #F2A50C );
    box-shadow: 0px 1px 2px 0px #0000001a;
    border-radius: 4px;
    display: inline-block;

    padding: 16px 32px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-1:hover{
    background: linear-gradient(#FFB60d, #e59317 );

}

.btn-2 {
    display: inline-block;
    color: var(--cor-p1);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 4px solid var(--cor-p1);
    margin: 1rem 0;
}

.btn-3 {
    color: var(--cor-4);
    background-color: var(--cor-10);
    box-shadow: 0px 1px 2px 0px #0000001a;
    border-radius: 4px;
    display: inline-block;

    padding: 16px 32px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
}

