.parceiros{
    padding-top: 60px;
    padding-bottom: 120px;
}
.parceiros h2{
    margin-bottom: 60px;

}
.parceiros-item{
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:  0 auto;
}

.parceiros-item li{
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros-item img{
    margin: auto;
}

 .parceiros-item li:first-child, .parceiros-item li:nth-child(5){
    border-left: none;
}

.parceiros-item li:nth-child(n + 5){
    border-top: 2px solid var(--cor-2);
}

@media (max-width:800px){
    .parceiros{
        padding-bottom: 60px;
    }
    .parceiros h2{
        margin-bottom: 20px;
    
    }
    .parceiros-item{
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros-item li:nth-child(odd){
        border-left:none ;
    }

    .parceiros-item li:nth-child(n + 3){
        border-top: 2px solid var(--cor-2);
    }
}

@media (max-width:800px){
    .parceiros-item li{
        padding: 20px;
    }
}