* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--cor-0);
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    align-items: center;
}


.center {
    justify-items: center;
}

strong {
    color: var(--cor-p1);
}

[src$=".jpg"] {
    border-radius: 4px;
}