.header-bg {
    background-color: var(--cor-12);
}

.header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    gap: 2.5rem;
    list-style: none;
    flex-wrap: wrap;

}

.menu-item a {
    flex: 1;
    display: inline-block;
    padding: 1rem 0;
}

.menu-item a::after{
    content: "";
    display: block;
    background-color: var(--cor-1);
    width: 0%;
    height: 2px;
    transition:  .3s;
}
.menu-item a:hover::after, .menu-item a.linkAtivo:after{
    width: 100%;
}

@media (max-width: 800px) {
    .header{
        justify-content: center;
    }
    .menu{
        gap: 1rem;
    }
    .menu-item a {
        background-color: var(--cor-11);
        padding: .6rem 1rem;
        border-radius: 5px;
    }
    .menu-item a::after{
        display: none;
    }
    .menu-item a:hover {
        background-color: var(--cor-10);
    }

}

@media (max-width: 600px) {
    .header{
        max-width: 90vw;
    }
    .menu{
        gap: 1rem;
    }
    .menu-item a {
        font-size: 1rem;
        padding: .6rem .5rem;

    }
}