@import "/css/root.css";


.header-bg {
    background-color: var(--cor-12);
}

.header-conteudo {
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1.25rem;
    gap: 1.25rem;
}

.menu {
    gap: 2.5rem;
    list-style: none;
    flex-wrap: wrap;

}

.menu-item a {
    flex: 1;
    display: inline-block;
    font-size: 18px;
    padding: 1rem 0;
}

.menu-item a::after{
    content: "";
    display: block;
    background-color: var(--cor-1);
    width: 0%;
    height: 2px;
    transition:  .3s;
}
.menu-item a:hover:after{
    width: 100%;
}

@media (max-width: 800px) {
    .header-conteudo{
        justify-content: center;
    }
    .menu{
        gap: 1rem;
    }
    .menu-item a {
        background-color: var(--cor-11);
        padding: .6rem 1rem;
        border-radius: 5px;
    }
    .menu-item a::after{
        display: none;
    }
    .menu-item a:hover {
        background-color: var(--cor-10);
    }

}

@media (max-width: 600px) {
    .header-conteudo{
        max-width: 90vw;
    }
    .menu{
        gap: 1rem;
    }
    .menu-item a {
        font-size: 1rem;
        padding: .6rem .5rem;

    }
}