.diferencial-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 80px #fff, inset 0 -80px #fff;
}

.diferencial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.diferencial-conteudo {
    padding-top: 160px;
    padding-bottom: 160px;
}

.diferencial-conteudo > span {
    display: block;
    margin-bottom: 20px;
}

.diferencial-conteudo h2 {
    margin-bottom: 32px;
}

.diferencial-conteudo > p {
    margin-bottom: 20px;
}

.diferencial-conteudo a{
    margin-bottom: 80px;
}

.diferencial-caracteristicas {
    display: flex;
    gap: 30px;
}

.diferencial-caracteristicas img{
    width: 24px;
    margin-bottom: 8px;
}

.diferencial-caracteristicas h3{
    margin-bottom: 8px;
    width: max-content;
}

.diferencial-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .diferencial-bg {
        box-shadow: none;
    }

    .diferencial {
        grid-template-columns: 1fr;
    }

    .diferencial-conteudo {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .diferencial-conteudo a{
        margin-bottom: 40px;
    }

    .diferencial-img {
        display: none;
    }

}

@media (max-width: 600px){
    .diferencial-caracteristicas{
        flex-direction: column;
    }
}