* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-bg {
    background-color: var(--cor-12);
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    margin: 0 auto;
    text-align: left;
    max-width: 80vw;
}

.footer-titulo {
    text-transform: uppercase;
    font-size: 24px;

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.informacoes p {
    margin-bottom: .5rem;
}

.footer-redes {
    display: flex;
    gap: 2rem;
}

.footer-direitos {
    margin-top: 3rem;
}