.footer-bg {
    background-color: var(--cor-12);
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 1rem;
    padding: 4rem 0;
}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-item p {
    color: var(--cor-5);
}

.informacoes p {
    margin-bottom: .5rem;
}

.footer-redes {
    display: flex;
    gap: 2rem;
}

.footer-direitos {
    margin-top: 3rem;
    grid-column: 1 / -1;
}

@media (max-width:800px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer-item {
        gap: 1rem;
    }
}