.seguros-container{
    background-color: var(--cor-10);
}
.seguros-conteudo{
    max-width: 80vw;
    margin: 0 auto;
    padding: 5rem 0;
}

.seguros-conteudo .font-1-xxl{
    margin-bottom: 50px;
}

.seguros-plano{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.plano-item{
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 0;
    background-color: var(--cor-12);
    padding: 2rem;
    padding-left: 3.5rem;
    align-items: center;
    border-radius: 5px;
}

.plano-item p{
    text-align: right;
}

.plano-tipo{
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}


.plano-caracteristicas{
    list-style: url('/img/icones/lista.svg');
    line-height: 2;
}

.btn-plano{
    margin-top: 32px;
}